
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="margin: 10% 20% 10%; text-transform: uppercase; ">Đây là trang ADMIN Forum Viện KỸ thuật - công nghệ</h2>

